body {
    background-color: rgb(220, 247, 247);
    color:black;
    font-family: sans-serif;
    font-size: 22px;
    text-align: center;
}
p {
    color:rgb(44, 43, 43);
    text-align: left;


}
ol {
    text-align:left;

}
 